In [2]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
from sklearn import metrics

In [3]:
df = pd.read_csv("Retail_Sales_Data/Official_Merged_SF.csv").dropna()

In [4]:
df

,sale_date,store,temperature,fuel_price,markdown1,markdown2,markdown3,markdown4,markdown5,unemployment,isholiday,dept,weekly_sales
62,2011-11-11,16,29.56,3.505,5042.40,2193.04,200.11,3309.98,2743.18,6.232,False,28,468.42
63,2011-11-18,16,31.73,3.479,2089.46,154.21,3.55,830.60,4425.07,6.232,False,28,279.22
64,2011-11-25,16,31.39,3.424,90.28,126.47,34754.69,24.64,1560.32,6.232,True,28,349.09
66,2011-12-23,16,20.79,3.173,485.00,0.18,475.60,16.20,960.85,6.232,False,28,575.78
67,2011-12-30,16,23.91,3.119,921.67,11778.68,101.87,272.51,1673.25,6.232,True,28,685.46
...,...,...,...,...,...,...,...,...,...,...,...,...,...
565957,2012-06-15,16,65.36,3.723,7027.33,141.80,125.91,642.76,1980.96,6.169,False,27,909.28
565958,2012-06-22,16,70.41,3.735,1291.33,201.00,0.27,696.47,1682.13,6.169,False,27,929.01
565960,2012-07-13,16,70.29,3.613,2375.53,17.90,2.07,983.30,1834.23,6.061,False,27,952.86
565961,2012-07-20,16,68.43,3.585,1115.42,105.35,4.69,196.54,948.69,6.061,False,27,799.20
565964,2012-08-24,16,61.44,3.558,1556.47,16.00,3.34,869.05,1691.12,6.061,False,27,703.94

In [26]:
# assigning the data to X and y
X = df[["markdown1", "markdown2", "markdown3", "markdown4", "markdown5"]]
y = df["weekly_sales"].values.reshape(-1,1)
print(X.shape, y.shape)

(149916, 5) (149916, 1)

In [122]:
# assigning the data to X and y
X = df["isholiday"].values.reshape(-1,1)
y = df["markdown5"].values.reshape(-1,1)
print(X.shape, y.shape)

(149916, 1) (149916, 1)

In [123]:
# Use train_test_split to create training and testing data
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [124]:
# #  Create the model using LinearRegression
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [125]:
# Fit the model to the training data and calculate the scores for the training and testing data

### BEGIN SOLUTION
model.fit(X_train, y_train)
training_score = model.score(X_train, y_train)
testing_score = model.score(X_test, y_test)

### END SOLUTION 

print(f"Training Score: {training_score}")
print(f"Testing Score: {testing_score}")

Training Score: 0.012146902570273066
Testing Score: 0.012005386357478942